
   * {
    margin: 0;
    padding: 0;
}
body {
    background-color: #14011b; 
    text-align: center;
}

.player-inputs {
    margin: 20px;
}

.player-inputs input {
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    border: none;
}

#start-btn {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
}
.hidden {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vmin;
    justify-content: center;
}
.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(237, 188, 188, 0.06);
    justify-content: center;
    align-items: center;
    font-size: 7rem;
    font-weight: bold;
    color: #b6d4fb; 
    background-color: #f6d4ff; 
}
#reset {
    padding: 2rem;
    font-size: 1.25rem;
    background: #f3eaf0; 
    color: #3a041a;
    border-radius: 1rem;
    border: none;
}


#new-btn {
    padding: 2rem;
    font-size: 1.25rem;
    background: #f3eaf0; 
    color: #3a041a;
    border-radius: 1rem;
    border: none;
}
#winnermsg {
    font-size: 8vmin;
    color: #fff6fe; 
}
.tttmatrix {
    height: 30vmin;
}
.hide {
    display: none;
}
