
   * {
    margin: 0;
    padding: 0;
}
body {
    background-color: #14011b; 
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
     min-height: 80vh;
     gap: 1rem;
}

.player-inputs {
    margin: 20px;
}

.player-inputs input {
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    border: none;
}

#start-btn {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
}
.hidden {
    display: flex;
    justify-content: center;
    align-items: center;
}
.game {
    height: 65vmin;
    width: 65vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
    justify-content: center;
}
.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(237, 188, 188, 0.06);
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: bold;
    color: #b6d4fb; 
    background-color: #f6d4ff; 
}
#reset {
    padding: 13px 24px;
    font-size: 1rem;
    background: #f3eaf0; 
    color: #3a041a;
    border-radius: 1rem;
    border: none;
}


#new-btn {
    padding: 13px 24px;
    font-size: 1rem;
    background: #f3eaf0; 
    color: #3a041a;
    border-radius: 1rem;
    border: none;
}
#winnermsg {
    font-size: 8vmin;
    color: #fff6fe; 
}

.hide {
    display: none;
}
