
   * {
    margin: 0;
    padding: 0;
}
body {
    background-color: #FAF7FB; 
    text-align: center;
}
.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vmin;
    justify-content: center;
}
.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.06);
    font-size: 8vmin;
    color: #7A6C9D; 
    background-color: #f8438b; 
}
#reset {
    padding: 1rem;
    font-size: 1.25rem;
    background: #E4F0F6; 
    color: #6A6A6A;
    border-radius: 1rem;
    border: none;
}


#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background: #E9F5EC; 
    color: #6A6A6A;
    border-radius: 1rem;
    border: none;
}
#msg {
    font-size: 8vmin;
    color: #9A8C98; 
}
.msg-container {
    height: 30vmin;
}
.hide {
    display: none;
}
